Repository charlesproye/murfy-cover-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, frontend-lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        require_serial: true

  - repo: local
    hooks:
      - id: ty
        name: ty-check
        entry: uv run ty check
        language: python
        types: [python]
        pass_filenames: true

  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
      -   id: trailing-whitespace
          exclude: '\.ipynb$|\.csv$'
      -   id: end-of-file-fixer
          exclude: '\.ipynb$|\.csv$'
      -   id: check-yaml
          args: [--allow-multiple-documents]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout

  - repo: local
    hooks:
      - id: frontend-lint-staged
        name: Frontend lint-staged
        entry: bash -c 'cd frontend && pnpm lint-staged'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

EVALUE-308 Try faster report render (#111)
  .gitignore
  docker-compose.yaml
  docker/external_api.Dockerfile
  k8s/deployment/gotenberg.yaml
  k8s/get-evalue.com/prod-evalue-back.yaml
  pyproject.toml
  src/core/numpy_utils.py
  src/core/s3/async_s3.py
  src/db_models/vehicle.py
  src/external_api/api/v1/endpoints/premium.py
  src/external_api/app.py
  src/external_api/core/config.py
  src/external_api/core/dependencies.py
  src/external_api/core/http_client.py
  src/external_api/schemas/premium.py
  src/external_api/services/premium/__init__.py
  src/external_api/services/premium/report_generation.py
  src/reports/report_render/__init__.py
  src/reports/report_render/asset_utils.py
  src/reports/report_render/assets/svg/autonomie.svg
  src/reports/report_render/assets/svg/battery-icon.svg
  src/reports/report_render/assets/svg/car-placeholder.svg
  src/reports/report_render/assets/svg/garantie.svg
  src/reports/report_render/assets/svg/logo.svg
  src/reports/report_render/assets/svg/search.svg
  src/reports/report_render/assets/svg/shield.svg
  src/reports/report_render/assets/svg/soh.svg
  src/reports/report_render/assets/svg/summer.svg
  src/reports/report_render/assets/svg/verified.svg
  src/reports/report_render/assets/svg/winter.svg
  src/reports/report_render/gotenberg_client.py
  src/reports/report_render/premium_report_generator.py
  src/reports/report_render/templates/_premium_report_page1.html
  src/reports/report_render/templates/_premium_report_page2.html
  src/reports/report_render/templates/premium_report_main.html
  src/reports/reports_utils.py
  tests/external_api/endpoints/test_premium.py
  tests/external_api/utils.py
  tests/reports/report_render/test_premium_report_generator.py
  uv.lock
Due: ty

Fix 343 env var (#124)
  frontend/next.config.mjs
  k8s/get-evalue.com/prod-evalue-back.yaml
Due: frontend-lint-staged

add calcul ratio km/soc in pipe (#128)
  src/transform/result_phases/processed_phase_to_result_phase.py
Due: ty

EVALUE-348 Add report V2 to frontend (#130)
  frontend/src/components/entities/dashboard/passport/datacard/VehicleInfo.tsx
  frontend/src/components/entities/dashboard/passport/report/FirstPage.tsx
  frontend/src/components/entities/dashboard/passport/report/HtmlReportModal.tsx
  frontend/src/components/entities/dashboard/passport/report/Modal.tsx
  frontend/src/components/entities/dashboard/passport/report/ReportContent.tsx
  frontend/src/components/entities/dashboard/passport/report/ReportModal.tsx
  frontend/src/components/entities/dashboard/passport/report/SecondPage.tsx
  frontend/src/components/entities/dashboard/passport/report/types.ts
  frontend/src/components/entities/dashboard/passport/report/web-report/BatteryInfo.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/CircleChart.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/RangeInfo.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/ReportFooter.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/SohChart.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/VehicleHeader.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/WarrantyInfo.tsx
  frontend/src/components/entities/dashboard/passport/report/web-report/charging/ChargingSummary.tsx
  frontend/src/components/pdf/PassportPdf.tsx
  frontend/src/hooks/dashboard/passport/useGetReportHtml.tsx
  frontend/src/routes.ts
  src/reports/report_render/templates/premium_report_main.html
Due: frontend-lint-staged

Evalue 360 fix cycles (#131)
  src/core/stats_utils.py
  src/transform/result_week/result_phase_to_result_week.py
Due: ty

EVALUE-351 Fix DB typing (#125)
  AGENTS.md
  src/db_models/alembic/env.py
  src/db_models/alembic/versions/202512221539_adding_image_table.py
  src/db_models/alembic/versions/202601020944_cleanup_db_types.py
  src/db_models/api.py
  src/db_models/company.py
  src/db_models/files.py
  src/db_models/fleet.py
  src/db_models/report.py
  src/db_models/user.py
  src/db_models/user_tokens.py
  src/db_models/vehicle.py
Due: ty

EVALUE-353 Remove some mandatory fields in report (#129)
  src/external_api/schemas/premium.py
  src/reports/report_render/premium_report_generator.py
  src/reports/report_render/templates/_premium_report_page1.html
  src/reports/report_render/templates/_premium_report_page2.html
  tests/reports/report_render/test_premium_report_generator.py
Due: ty

EVALUE-347 Limit to one report a day + pre-signed URI (#132)
  src/core/s3/async_s3.py
  src/core/s3/s3_utils.py
  src/db_models/alembic/versions/202601061021_add_unique_constraint_vehicle_date_.py
  src/db_models/report.py
  src/external_api/api/v1/endpoints/premium.py
  src/external_api/core/config.py
  src/external_api/schemas/premium.py
  src/external_api/services/premium/report_generation.py
  src/ingestion/tesla_fleet_telemetry/services/data_storage.py
  src/reports/report_generator.py
  src/reports/report_render/premium_report_generator.py
  src/reports/report_render/templates/_premium_report_page1.html
Due: ty

changement naming kia (#135)
  src/transform/processed_phases/providers/kia.py
Due: ty

Evalue 31 précision en fonction du temps de suivi (#78)
  src/notebooks/eda/soh_computation/delay_to_first_soh.ipynb
Due: none

EVALUE-362 Fix PDF render on safari (#133)
  src/reports/report_render/templates/_premium_report_page1.html
  src/reports/report_render/templates/_premium_report_page2.html
  src/reports/report_render/templates/premium_report_main.html
Due: none

Résoudre problème trendline nulle (#142)
  src/external_api/services/flash_report/flash_report.py
Due: ty

add conditionning (#144)
  src/results/trendline/trendline_utils.py
Due: ty

EVALUE-374 Add nutriscore (#141)
  src/reports/report_render/templates/_premium_report_page1.html
  tests/reports/report_render/test_premium_report_generator.py
Due: ty

EVALUE-356 Switch PDF jobs to V2 (#136)
  docker/premium_report.Dockerfile
  k8s/cronjob/res_generating_reports.yaml
  k8s/deployment/res_celery_scraper.yaml
  pyproject.toml
  src/db_models/vehicle.py
  src/external_api/api/v1/endpoints/premium.py
  src/external_api/core/exceptions.py
  src/external_api/schemas/premium.py
  src/external_api/services/flash_report/flash_report.py
  src/external_api/services/premium/report_generation.py
  src/external_api/services/s3.py
  src/reports/generate_gsheet_reports.py
  src/reports/report_generator.py
  src/reports/report_render/gotenberg_client.py
  src/reports/report_render/premium_report_generator.py
  src/reports/reports_utils.py
  src/reports/workers/tasks.py
  uv.lock
Due: ty

Evalue 376 fix flash report generator (#143)
  src/core/sql_utils.py
Due: ty

Quelques fixs au cours du déploiement (#140)
  frontend/src/components/entities/fleet-manager/tabs/ActivateTab.tsx
  frontend/src/components/entities/fleet-manager/tabs/DeactivateTab.tsx
  frontend/src/components/entities/fleet-manager/tabs/VehiclesTab.tsx
  k8s/cronjob/act_activating_vehicles.yaml
  pyproject.toml
  src/activation/activators/bmw_activator.py
  src/activation/activators/hm_activator.py
  src/activation/activators/kia_activator.py
  src/activation/activators/stellantis_activator.py
  src/activation/activators/tesla_activator.py
  src/activation/activators/volkswagen_activator.py
  src/activation/api/stellantis_client.py
  src/activation/main.py
  src/activation/vehicle_command.py
  uv.lock
Due: ty, frontend-lint-staged

Ajout colonnes charge type (#148)
  src/db_models/alembic/versions/202601131645_ajout_fast_charge_plug_type.py
  src/db_models/vehicle.py
  src/ingestion/ev_database/ev_database.py
Due: ty

EVALUE-389 Add readout report (#146)
  .github/workflows/python-tests.yml
  src/db_models/__init__.py
  src/db_models/alembic/versions/202601131700_rename_report.py
  src/db_models/report.py
  src/external_api/api/v1/__init__.py
  src/external_api/api/v1/endpoints/premium.py
  src/external_api/api/v1/endpoints/report_premium.py
  src/external_api/api/v1/endpoints/report_readout.py
  src/external_api/app.py
  src/external_api/schemas/report.py
  src/external_api/services/report/__init__.py
  src/external_api/services/report/api_report_utils.py
  src/external_api/services/report/report_generation.py
  src/external_api/services/report/report_mutualized_endpoints.py
  src/reports/generate_gsheet_reports.py
  src/reports/gsheet_report_generator.py
  src/reports/report_render/report_generator.py
  src/reports/report_render/templates/_premium_report_page1.html
  src/reports/report_render/templates/premium_report_main.html
  src/reports/reports_utils.py
  src/reports/workers/tasks.py
  tests/external_api/endpoints/test_premium.py
  tests/factories/report.py
  tests/reports/report_render/test_report_generator.py
Due: ty

modif conso (#147)
  src/transform/result_phases/providers/stellantis.py
Due: ty

Ajout des véhicules utilitaires (#137)
  k8s/secret/ev_database_secret.yaml
  src/ingestion/ev_database/ev_database.py
Due: ty

EVALUE-371 Add script to upload image assets (#139)
  src/utils/assets/create_thumbnails.py
Due: ty

Evalue 76 real autonomy (#138)
  src/db_models/alembic/versions/202601141000_ajout_colonne_real_autonomy_a_vehicle_.py
  src/db_models/vehicle.py
  src/notebooks/features/bib_score.ipynb
  src/notebooks/features/real_autonomy_calcul.ipynb
  src/notebooks/results/impact_of_degradation/real_autonomy.ipynb
  src/notebooks/results/impact_of_degradation/wltp_vs_real_autonomy.ipynb
  src/results/main.py
  src/results/real_autonomy/calculate_real_autonomy.py
Due: ty

Evalue 396 adding trendlines similar model battery (#149)
  src/results/trendline/main.py
  src/results/trendline/trendline_utils.py
  src/results/vehicle_status/vehicle_status_tracker.py
  src/transform/result_week/config.py
  src/transform/result_week/result_phase_to_result_week.py
Due: ty

Retrait old tesla qui a été ajouté dans MakeEnum mais pas utile pour le transform (#152)
  src/bib_dagster/defs/spark_jobs/__init__.py
Due: ty

Save tmp batch parquet to fix RAM issues (#153)
  k8s/configmap/spark-log4j-config.yaml
  k8s/deployment/spark_history_server.yaml
  src/bib_dagster/defs/spark_jobs/baseline_spark_spec.yaml
  src/transform/processed_phases/raw_ts_to_processed_phases.py
Due: ty

EVALUE-373 Test AppSignal on EValue backend (#150)
  __appsignal__.py
  docker/external_api.Dockerfile
  k8s/get-evalue.com/prod-evalue-back.yaml
  k8s/secret/appsignal_secret.yaml
  pyproject.toml
  src/external_api/app.py
  uv.lock
Due: ty

EVALUE-426 Fix ARM issues with scrapping (#157)
  .env.dist
  docker-compose.yaml
  redis-acl.conf
  redis.conf
  src/ingestion/push/config.py
  src/ingestion/soh_scraping/websites/scrapping_autospherre.py
  src/ingestion/soh_scraping/websites/scrapping_spoticar.py
Due: ty

Link MAKE to OEM non fonctionnel pour bcp (#156)
  src/ingestion/ev_database/ev_database.py
Due: ty

EVALUE-406 Flash report new design (#158)
  frontend/src/app/flash-report/generation/page.tsx
  frontend/src/components/entities/flash-report/FlashReportGeneration.tsx
  frontend/src/components/entities/flash-report/forms/FlashReportForm.tsx
  frontend/src/routes.ts
  k8s/deployment/res_celery_scraper.yaml
  k8s/get-evalue.com/prod-evalue-back-secret.yaml
  k8s/get-evalue.com/prod-evalue-back.yaml
  k8s/secret/bmw_secret.yaml
  k8s/secret/smtp_secret.yaml
  src/core/models/data_source.py
  src/core/models/trendlines.py
  src/core/sql_utils.py
  src/core/trendlines_utils.py
  src/db_models/alembic/versions/202601211116_link_flash_report_combination_to_report.py
  src/db_models/report.py
  src/external_api/api/v1/__init__.py
  src/external_api/api/v1/endpoints/flash.py
  src/external_api/api/v1/endpoints/report_flash.py
  src/external_api/api/v1/endpoints/report_verify.py
  src/external_api/app.py
  src/external_api/core/config.py
  src/external_api/schemas/flash.py
  src/external_api/schemas/flash_report.py
  src/external_api/schemas/report.py
  src/external_api/services/flash_report/flash_report.py
  src/external_api/services/flash_report/vin_decoder/tesla_vin_decoder.py
  src/external_api/services/report/report_generation.py
  src/external_api/services/report/report_mutualized_endpoints.py
  src/reports/flash_report_utils.py
  src/reports/gsheet_report_generator.py
  src/reports/report_config.py
  src/reports/report_render/qr_code_utils.py
  src/reports/report_render/report_generator.py
  src/reports/report_render/templates/report_template.html
  src/reports/reports_utils.py
  src/reports/workers/celery_config.py
  src/reports/workers/flash_report_task.py
  tests/external_api/services/flash_report/test_flash_report.py
  tests/reports/report_render/test_flash_report_utils.py
  tests/reports/test_reports_utils.py
Due: ty, frontend-lint-staged

EVALUE-383-filtres-result-weeks (#145)
  src/transform/result_week/result_phase_to_result_week.py
Due: ty

Evalue 417 soh oem kia (#155)
  src/results/trendline/main.py
  src/transform/processed_phases/providers/kia.py
Due: ty

Adaptation activation à la partie readout (#159)
  frontend/src/components/entities/fleet-manager/tabs/ActivateTab.tsx
  frontend/src/components/entities/fleet-manager/tabs/DeactivateTab.tsx
  frontend/src/components/entities/fleet-manager/tabs/VehiclesTab.tsx
  frontend/src/interfaces/fleet-manager/fleet-manager.ts
  frontend/src/routes.ts
  src/db_models/alembic/versions/202601211145_ajout_du_statut_readout_et_bib_requested.py
  src/db_models/vehicle.py
  src/external_api/api/v1/__init__.py
  src/external_api/api/v1/endpoints/account.py
  src/external_api/api/v1/endpoints/static_data.py
  src/external_api/api/v1/endpoints/vehicle_command.py
  src/external_api/core/utils.py
  src/external_api/schemas/vehicle_command.py
  src/external_api/services/vehicle_command.py
  src/results/update_available_data/main.py
Due: ty, frontend-lint-staged

EVALUE-436 Switch to bib-batteries.com (#160)
  .env.dist
  frontend/Dockerfile
  frontend/docker-compose.yml
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/flash-report/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/common/LandingFooter.tsx
  frontend/src/components/common/Logo.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/routes.ts
  k8s/deployment/res_celery_scraper.yaml
  k8s/get-evalue.com/prod-evalue-back.yaml
  k8s/get-evalue.com/prod-evalue-certs.yaml
  k8s/get-evalue.com/prod-evalue-front.yaml
  src/external_api/app.py
  src/external_api/core/config.py
Due: ty, frontend-lint-staged

fix pipeline
  src/results/main.py
Due: ty
